.component {
  width: 300px;
  height: 350px;
  /* background-color: #d3d3d3; */
  background-color: #d6dde6;
  border-radius: 3px;

  overflow: auto;
  position: fixed;
  /* left: 1450px; */
  /* left: 75.5%; */
  right: 50px;
  top: 80px;

  z-index: 2;
}

.loginButtons > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;

  gap: 10px;
}

.loginButtons * button {
  padding: 10px 20px;
}

.SignupLoginForm {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.SignupLoginForm > button {
  padding: 5px 30px;
}

.FormEmail {
  display: flex;
}

.FormEmail > label {
  width: 70px;
}

.FormEmailChangePassword {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.FormEmailChangePassword > input {
  padding: 5px;
}

.FormEmailInput {
  width: 150px;
}

.error {
  padding: 5px;
  background-color: rgb(255, 0, 0, 0.5);
}

.successRequest {
  padding: 5px;
  background-color: rgba(94, 175, 111, 0.5);
}

.ProfileComponent {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 5px;
}

.ProfileComponent > button {
  padding: 5px;
  width: 70%;
}

.profileImage {
  display: flex;
  justify-content: center;
}

.profileImage > img {
  border-radius: 10px;
}

.contactUswindow {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  overflow: auto;
}
.contactUswindow > button {
  width: 30%;
}

.ContactUsForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ContactUsForm > textarea {
  height: 70px;
  font-size: 14px;
}

.ContactUsForm > button {
  margin-bottom: 10px;
  width: 30%;
  padding: 5px 10px;
}

.contactUswindowBackbutton {
  display: flex;
  justify-content: space-between;
}

.contactUswindowBackbutton > button {
  padding: 5px 10px;
}

.contactUswindowBackbuttonv2 {
  display: flex;
  justify-content: flex-end;
}

.contactUswindowBackbuttonv2 > button {
  padding: 5px 10px;
}

.uploadImagecomponent {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid black;
  padding: 3px;
}

.changeinformationwindowButtons {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 10px;
}

.changeinformationwindowButtons > button {
  width: 70%;
  height: 30px;
}

.getMoreOrdersButton {
  padding: 8px 10px;
  width: 70%;
}

.ItemStylesComponentOrdersComponent {
  overflow: auto;
}

.ItemStylesComponentOrders {
  display: flex;
  gap: 5px;
  justify-content: space-between;
}

.ItemStylesComponentOrdersPrice {
  display: flex;
  justify-content: space-between;
}

.FormEmailResetButton {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.FormEmailResetButton > button {
  padding: 5px;
}

.orderpaneltitle {
  text-decoration: underline;
}

.ItemStylesComponentTotalPrice {
  margin-top: 20px;
}

.uploadImagecomponentTitle {
  text-decoration: underline;
}

.imageuploadInput {
  display: none;
}

.imageuploadLabelInput {
  border: 1px solid black;
  box-sizing: border-box;
  padding: 2px;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: buttonface;
}

.imageuploadLabelInput:hover {
  background-color: rgb(196, 183, 167, 0.3);
}

.component * {
  background-color: rgb(214, 221, 230, 0.8);
  border-radius: 4px;
}
