.pageComponent {
  width: 1400px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: rgb(234, 236, 238, 0.7);
}

.pageImage {
  width: 100%;
  height: 100%;
}

.ProductComponent {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 20px;
}

.Productquery {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 10px;
}

.Productquery > div {
  display: flex;
  justify-content: space-between;
}

.Productquery * button,
.ProductComponent * p {
  /* padding: 2px; */
  border: none;
  font-size: 12px;
  font-weight: bold;

  background-color: white;
  /* background-color: none; */
}

.Productquery * img {
  padding: 5px;
  width: 30px;
  height: 30px;
}

.ProductqueryMains {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.ProductqueryEachDetails {
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  padding-left: 5px;
  gap: 8px;
}

.ProductqueryEachDetailsButtonP {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ProductqueryEachDetails * button {
  padding: 8px;
  border: 1px solid black;
}

.ProductqueryEachDetails * div {
  font-size: 16px;
}

.organicButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
  /* gap: 10px; */
}

.organicButton > button {
  padding: 6px;
  border: 1px solid black;
  height: 5px;
  width: 5px;
}

.ProductEachItem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px;
  gap: 20px;
}

.productEachItemFlex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productEachItemFlex > div {
  padding: 5px;
  padding-bottom: 0;
}
.productEachItemFlex > div:last-child {
  padding-bottom: 20px;
}

.productItemImage {
  width: 100%;
  height: 100%;
}

.productItemName {
  font-size: 20px;
}

.productItemPrice {
  font-weight: 600;
  font-size: 20px;
}

.productItemPriceAndGram {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.BreadCrumbs {
  padding: 20px;
}

.Sorting {
  display: flex;
  justify-content: flex-end;
}

.SortingSelect {
  margin-top: 10px;
  padding: 10px;
  padding-right: 1px;
}

.ProductqueryMains *,
.ProductqueryMains > button {
  background-color: transparent;
}

@media screen and (max-width: 1300px) {
  .pageComponent {
    width: 1000px;
    padding: 1px;
  }
}

@media screen and (max-width: 1000px) {
  .pageComponent {
    width: 700px;
  }
}

@media screen and (max-width: 700px) {
  .pageComponent {
    width: 400px;
  }

  .Productquery {
    display: flex;
    flex-direction: column;
    width: 130px;
    gap: 10px;
  }

  .ProductEachItem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 10px;
  }

  .Productquery * img {
    padding: 5px;
    width: 30px;
    height: 30px;
  }
  .productItemPrice {
    font-weight: 600;
    font-size: 16px;
  }
}
